@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.bg-chat{
    background-color: rgba(125, 238, 125, 0.397);
}
.bg-header-footer{
    background-color: rgb(240, 151, 252);
}
.user{
    height: 15rem;
}
#scroll {
    max-height: 500px;  
    overflow-y: scroll;   
    
    padding: 10px;  

}
#scroll-list {
    max-height: 400px !important ;  
    overflow-y: scroll !important;   
    
    padding: 10px !important;  

}
ul {
    list-style: none ;
}
body {
    font-family: 'Roboto', sans-serif;

}
a {
    list-style: none ;
}