@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
.user{
    height: 15rem;
}
#scroll {
    max-height: 500px;  
    overflow-y: scroll;   
    
    padding: 10px;  

}
#scroll-list {
    max-height: 400px !important ;  
    overflow-y: scroll !important;   
    
    padding: 10px !important;  

}
ul {
    list-style: none ;
}
body {
    font-family: 'Roboto', sans-serif;

}
a {
    list-style: none ;
    text-decoration:none!important;
}

#bg-image {
    background-image: url(./image/bgchat.png) !important;
    background-position: top !important;
    background-size: cover !important;
    max-height: max-content;
}
#bg-header {
    background-image: url(./image/21516481-avertir-securite-enregistrer-jaune-noir-bande-danger-ruban-pour-attention-danger-ruban-police-construction-zone-signe-banniere-barriere-symbole-vectoriel.jpg    ) !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    max-height: max-content;

}
.font-titre {
    font-family: 'Rubik Burned', system-ui;
}